:root {
    --light-french-beige: #D1B271;
    --light-french-beige-rgb: 209, 178, 113;
    --metallic-yellow: #FED90F;
    --metallic-yellow-rgb: 254, 217, 15;
    --maya-blue: #70D1FE;
    --maya-blue-rgb: 112, 209, 254; 
    --ash-grey: #e2e2e2;
    --ash-grey-rgb: 226, 226, 226;
    --outer-space: #424F46;
    --outer-space-rgb: 66, 79, 70;
  }
  



* {
    box-sizing: border-box;
    font-family: 'Homer Simpson Revised', sans-serif;
    color: var(--outer-space);
    
}
  
  html {
    font-size: 10px;
    
  }
  
  body {
    margin: 0;
    line-height: 2;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-french-beige);

  }
  
  /* start of header styles */
  
  .header {
    background-color: var(--metallic-yellow);
    
  }
  
  .nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

  }
  
  .nav-link-logo {
    display: flex;
    align-items: center;
  }
  
  .nav-link-logo:hover {
    box-shadow: 0 0 1rem 0.5rem var(--maya-blue);
    background-color: var(--maya-blue);

  }
  
  .logo-img {
    width: 6.4rem;
    height: 6.4rem;
    object-fit: contain;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--outer-space);
    padding-bottom: 0.5rem;

  }
  
  .nav-link:hover {
    border-bottom: 0.2rem solid var(--maya-blue);
    box-shadow: 0 0 1rem 0.5rem var(--maya-blue);
    background-color: var(--maya-blue);
  }
  
  /* end of header styles */


  
  /* start of footer styles */
  
  .footer {
    background-color: var(--maya-blue);
    font-size: 1.4rem;
    padding: 2rem 0;
    margin-top:2rem;
    text-align: center;
    color: var(--outer-space);
    letter-spacing: 0.4rem;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    flex:2;
  }
  
  .contact-link {
    text-decoration: none;
    color: var(--outer-space);
    margin: 0.5rem 0;
    font-size: 3rem;
  }
  
  .contact-link:hover {
    border-bottom: 0.2rem solid var(--ash-grey);
    box-shadow: 0 0 1rem 0.5rem var(--maya-blue);
    background-color: var(--maya-blue);
  }
  
  /* end of footer styles */
  
  .main {
    flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 10rem;

  }
  
  
  .content-section {

    letter-spacing: 0.6rem;
    padding: 2rem 1rem;
    text-align: center;
    color: var(--outer-space);
    box-shadow: 0rem 0rem 0.7rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);

    background-image: linear-gradient(
        to right,
        rgba(var(--ash-grey-rgb), 0.7),
        rgba(var(--ash-grey-rgb), 0.7)
      ),
      url("/images/homer-take-quiz.jpeg");

      justify-content: center;
    background-position:  -100px;
    background-repeat: repeat-x;
    /* animation: animatedBackground 30s linear infinite alternate; */
  }
  
  .content-section-title {
    font-size: 4rem;
  }
  
  .content-section-info {
    font-size: 2rem;
  }
  
  /* end of content section styles */
  
  /* start of button styles */
  
  .btn-control {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .btn {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    min-width: 20rem;
    text-transform: uppercase;
    background-color: var(--metallic-yellow);
    color: var(--outer-space);
  }
  

  .btn:hover {
    cursor: pointer;
    background-color: var(--maya-blue);
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);
  }

  .btn-2 {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    min-width: 20rem;
    text-transform: uppercase;
    background-color: var(--metallic-yellow);
    color: var(--outer-space);
  }

  .btn-2:hover {
    cursor: pointer;
    background-color: var(--ash-grey);
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);
  }
  
  /* end of button styles */
  
  /* start of question styles */
  
  .question-container {
    /* height: auto;   */
    margin:1rem;
    padding: 0;
    background: transparent;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--ash-grey-rgb), 0.8),
        rgba(var(--ash-grey-rgb), 0.8)
      ),

      url("images/simpsonsclassic.jpg");
      
    background-position: 0px 0px;
    background-repeat: repeat-x;
    /* animation: animatedBackground 10s linear infinite alternate; */
  }


  .timer-container {
    margin:1rem;
    padding: 0;
    background: transparent;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--ash-grey-rgb), 0.8),
        rgba(var(--ash-grey-rgb), 0.8)
      ),

      url("images/simpsonsclassic.jpg");
      
    background-position: 0px 0px;
    background-repeat: repeat-x;
  }
  
  .question-container .question {
    background-color: rgba(var(--light-french-beige), 1);
    font-size: 3rem;
    font-weight: bold; 
  }

  .question{
      display: block;
      background-color:black
  }
  
  .question-list {
    list-style: none;
    text-align: left;
    margin: 3rem 2rem;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: rgba(var(--metallic-yellow-rgb), 0.8);
  }
  
  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    font-size: 2.8rem;
  }
  
  .list-item:hover {
    background-color: var(--maya-blue);
    cursor: pointer;
  }

  .high-score-list{
    padding: 2rem;
    border-radius: 0.4rem;
    font-size: 4rem;
  }

  .high-score-list-item:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 1rem 0; */
    font-size: 4rem;
    background-color: var(--metallic-yellow);
    cursor: pointer;
    
  }


  .card-timer {
    /* height: 240px; */
    /* padding: 10px; */
    /* background: var(--outer-space); */
    color: #fff;
    text-align: center;
    font-size:4rem;
    line-height: 1rem;
    /* display:block; */
  }
  
  .timer-text {
    padding: 25px;
    padding-bottom: 0;
    margin-top: 5rem;
    flex-wrap: wrap;
  }

  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  .alert {
    background-color: var(--maya-blue);
    margin: 1rem 0;
    font-size: 2rem;
  }
  
  /* end of question styles */
  
  /* start of form section styles */
  
  .high-score-form-section {
    background-color: var(--maya-blue);
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
  }
 
  .high-score-form-section h1{
      margin-bottom: 0;
  }

  .high-score-form-section h2{
    margin-bottom: 0;
} 

  #game-over-image{
      height: 80%;
      width: auto;

  }
  
  .title {
    text-align: center;
    color: var(--outer-space);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }
  
  /* High Score form styles */
  
  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;

  }
  
  .form-input {
    padding: 1rem 2rem;
    /* width: 100%; */
    width: 40vw;
    border: none;
    border-radius: 0.4rem;
  }
  
  .form-input::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    text-align: center;
  }
  
  /* end of form section styles */
  
  @media screen and (max-width: 768px) {
    .main {
      margin: 0 1rem;
    }
    .content-section {
      margin: 2rem 0.75rem;
    }

    .card-timer {
        height: 200px;
      }

      .timer-text {
          display: flex;
          flex-direction: column;
        flex-wrap: wrap;

      }

      #game-over-image{
        height: 40%;
        width: 40%;
  
    }
  }
  
  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }



                                                